
#centrado {
    display: flex;
        max-width:  300px !important;
        margin: 20px auto !important;
        text-align: center !important;
        justify-content: space-around !important;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(255, 255, 255);
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    }
    
#numeroContador {
    margin: auto;
}

#botonComprar {
    margin: auto !important;
    max-width: 300px !important;
    margin: 20px auto !important;
    width: 250px;
}

