body {
    font-family: 'Josefin Sans', cursive;
    
}

.close {
    color: #fff; 
    opacity: 1;
}

a{
color: white;
}


#carrito {
background-color: white !important;
color: white !important;
}


@media screen and (max-width: 768px) {
    #carrito { margin-right: 1rem;
    } }
