


#carrito {
    max-height: 1rem;
    align-items: center !important;
}

#navBarCustom {
    margin: auto;
    align-items: center !important;
    

}

@media screen and (max-width: 768px) {
    #carrito { margin-right: 1rem;
    } }
