footer {
    position:relative;
    clear: both;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    background-color: rgb(7, 2, 2);
}

#seguinos {
    margin: auto;
    max-width: 1300px;
    justify-content: center;
    
}