//sobreescribir variables

// $primary: blue;
// $secondary: green;
// $dark: #300;
// $light: #fdd;
// $success: #0fa;
// $warning: yellow; 
// $danger: red;

$primary: #004a4d;
$secondary: #327868;
$dark: #040308;
$light:#fffdde;
$success: #009c45;
$warning: #e9c500; 
$danger: #f0002d;
$info: #059444;

//import de estilos de bootstrap siempre va al final
@import "~bootstrap/scss/bootstrap.scss"