//sobreescribir variables

$primary: blue;
$secondary: green;
$dark: rgb(7, 2, 2);
$light: whitesmoke;
$success: #0fa;
$warning: yellow; 
$danger: red;

$offcanvas-bg-color: rgb(7, 2, 2) !important;
$offcanvas-color: whitesmoke;
// $primary: #403652;
// $secondary: #f23976;
// $dark: #040308;
// $light:#fffdde;
// $success: #009c45;
// $warning: #e9c500; 
// $danger: #f0002d;
// $info: #059444;


.close {
    color: #fff; 
    opacity: 1;
}

//fonts
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

//import de estilos de bootstrap siempre va al final
@import "~bootstrap/scss/bootstrap.scss"